<!DOCTYPE html>
<html>

<head>
  <title>Seven | 名刺管理アプリ</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
</head>

<body>
  <%= yield %>
</body>

</html>
